.navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

  .logo-container {
    width: 60px;
    height: 100%;
  }
  .nav-link {
    padding: 10px 15px;
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
  }
  .margin-left{
    margin-left: auto;
  }
}

